.about-me {
  &_img-box {
    position: relative;
    background-color: $color-grey-lightest;
    border-radius: 0.8rem;
    border: 1px solid rgba($color-grey-light, 0.75);
    max-height: 500px;
    box-shadow: 0px 4px 6px -4px #0000001a;
    height: 500px;
    overflow: hidden;

    .slide {
      position: absolute;
    }
  }

  &_text-box {
    h3 {
      margin-bottom: 2rem;
    }

    p {
      &:not(:first-child) {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }

    .fg-box {
      display: flex;
      gap: 3rem;

      h4 {
        margin-bottom: .5rem;
      }

      li {
      }
    }
  }
}
