.hero {
  min-height: 70dvh;

  &-text {
    margin-top: 4rem;
    min-height: 55vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 600;
    }

    p {
      color: $color-grey;
      line-height: 1.5;
    }


  }
}
