.works-section {
  .work-lists {

    .work-item {
      box-shadow: 0px 4px 6px -4px rgba($color-secondary, 0.2);
      border-radius: 1.2rem;
      border: 1px solid $color-grey-lightest;
      height: fit-content;
      overflow: hidden;
      .img-box {
        height: 50%;
      }

      .text-box {
        padding: 2rem;

        h4 {
          margin-bottom: 1.5rem;
        }

        .role {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .stack-lists {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        .button-box {
          margin: 1rem 0 0 0;
          gap: 1rem;
        }

        p {
          color: $color-grey;
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
