.grid {
  display: grid;

  &.col-2-by-1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include respond(mds) {
      grid-template-columns: 1fr;
    }
  }

  &.col-5-by-1 {
    grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
    place-items: center;
    gap: 2rem;
    justify-content: center;
  }

  &.col-4-by-1 {
    grid-template-columns: repeat(4, 1fr);
    // place-items: center;
    gap: 2rem;
    justify-content: center;

    @include respond(mdxl) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(sm) {
      grid-template-columns: 1fr;
    }
  }
}
