* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: $font-text;

  @include lgrespond(xxxl) {
    font-size: 125%;
  }

  @include respond(md) {
    font-size: 50%;
  }
}

body {
  background-color: $color-primary;
  color: $color-secondary;
  // overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // object-position: center;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $color-secondary;
}

li {
  list-style: none;
}

button {
  border: none;
  font-family: $font-text;
  font-weight: 500;
}
