h1 {
  font-size: 8rem;

  @include respond(md) {
    font-size: 6.5rem;
  }

  @include respond(mds) {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 5.2rem;

  @include respond(mds) {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.2rem;

  @include respond(mds) {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2rem;

  @include respond(mds) {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  // line-height: 7rem;
}

p,
a,
li {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;

  @include respond(mds) {
    font-size: 1.4rem;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 4rem;

  p {
    color: $color-grey;
    line-height: 1.5;
  }
}
