.footer {
  min-width: 70%;
  margin: auto;
  text-align: center;
  background-color: $color-black;
  color: $color-primary;

  p {
    color: $color-grey-lightest;
    // margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .social-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
}
