.testimonial {
  &-lists {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 500px;
    @include respond(md) {
      display: none;
    }
  }

  &-item {
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
    min-width: 0;
    flex: 1;
    padding: 0 1rem 3rem;

    @include respond(lg) {
      padding: 1rem 0.5rem;
    }

    .img-box {
      position: absolute;
      inset: 0;
      z-index: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
      color: white;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;

      h4 {
        margin-bottom: 0.5rem;
      }

      p {
        color: $color-grey-lightest;
        span {
          display: inline-block;
        }
      }
    }
  }
}
